name: Publish
on: { push: { branches: [ main ] }, release: { types: [ created ] } }

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - { name: Checkout, uses: actions/checkout@v4 }
    - { name: Setup pnpm, uses: pnpm/action-setup@v4, with: { version: ^10, run_install: true } }
    - { name: Setup Node.js environment, uses: actions/setup-node@v4, with: { node-version: ^18.20 || ^20.10 || >=22 } }
    - run: git config --global user.email github-action@users.noreply.github.com
    - run: git config --global user.name "Github Action"
    - run: echo $PWD/node_modules/.bin:$PATH > $GITHUB_PATH

    - if: github.event_name == 'push'
      run: scripts/version-dev.js

    - run: scripts/package.sh

    - name: Publish dev
      if: github.event_name == 'push'
      run: pnpm publish --provenance --access public --no-git-checks --tag dev
      working-directory: dist
      env: { NODE_AUTH_TOKEN: "${{secrets.NPM_TOKEN}}" }

    - name: Publish release
      if: github.event_name == 'release'
      run: pnpm publish --provenance --access public --no-git-checks --tag dev
      working-directory: dist
      env: { NODE_AUTH_TOKEN: "${{secrets.NPM_TOKEN}}" }
